$font-principal: 'Roboto', sans-serif;

$cor-fundo: #f5f6fa;
$cor-header: #182C61;
$cor-botao: #44bd32;
$cor-botao-hover: #4cd137;
$cor-texto: #fff;

$largura-max-container: 1024px;
$padding-container: 16px 0;
